<mat-toolbar>

    <button mat-mini-fab colot="warn" [matMenuTriggerFor]="navMenu">
        <mat-icon>dashboard</mat-icon>
    </button>

    <span class="example-icon"></span>

    <mat-icon>{{iconTitle}}</mat-icon>

    <span>{{pageTitle}}</span>

    <span class="example-spacer"></span>

    <button mat-icon-button [matMenuTriggerFor]="helpMenu"><mat-icon>help_outline</mat-icon></button>
    <button mat-icon-button><mat-icon [color]="userStatusColor" routerLink="/settings">account_box</mat-icon></button>
    <button mat-icon-button><mat-icon matBadge="{{counter}}" matBadgeColor="warn" matBadgeSize= "small">shopping_cart</mat-icon></button>
    <button mat-icon-button><mat-icon routerLink="/product">store</mat-icon></button>
    <button mat-icon-button><mat-icon>settings</mat-icon></button>

    <mat-menu #helpMenu="matMenu">
        <div *ngIf="helpTitle=='about'">
            This is the about page.
        </div>
        <div *ngIf="helpTitle=='settings'">
            This is the settings page.
        </div>
        {{helpTitle}}
    </mat-menu>

    <mat-menu #navMenu="matMenu">
        <a href="configData.fbLink" mat-menu-item style="outline: none;"><mat-icon>facebook</mat-icon></a>
        <button mat-menu-item routerLink="/about">Go to about page</button>
        <button mat-menu-item routerLink="/settings">Go to settings page</button>
        <button mat-menu-item routerLink="/admin">Go to set products page</button>

    </mat-menu>
    
</mat-toolbar>