<app-header pageTitle= "About Us" iconTitle="info" helpTitle="about"></app-header>
<mat-tab-group>
  <mat-tab label="Manage">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis illum, rerum numquam eaque officiis placeat aspernatur impedit odit quidem voluptatibus, error velit provident hic similique accusamus, sed fugit quia sequi?</mat-tab>
  <mat-tab label="About Us">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id odit ea delectus saepe accusantium quibusdam, omnis voluptates eius harum deserunt enim, dolor consequuntur esse nostrum itaque sapiente. Quo, nulla at.</mat-tab>
  <mat-tab label="FAQ">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione totam maxime impedit. Tenetur assumenda repudiandae omnis adipisci enim. Natus odit id nemo recusandae eius rerum odio magni rem in amet.</mat-tab>
  <mat-tab label="Products">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis molestiae enim autem beatae illo accusamus, ipsa eligendi obcaecati magni exercitationem error? Assumenda quo alias perferendis libero neque harum corrupti. Quisquam.</mat-tab>
  <mat-tab label="Terms">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, consectetur natus! Veniam, placeat dolorem adipisci eligendi quam, delectus, illo cupiditate sapiente ut porro enim quo sint quod. Veritatis, neque numquam?</mat-tab>
</mat-tab-group>
<mat-card [@fallIn]='state'>
  <mat-card-title>
    About Us page
  </mat-card-title>
  <mat-card-content>
    <button mat-button routerLink="/settings">Go to settings page</button>
    <p>works</p>
  </mat-card-content>
</mat-card>


<app-footer></app-footer>